<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Veículo</title>
</head>
<body>
    
    <h2>Informações do veículo</h2>

    <form method="post"  action="/criar">
        <label>Placa:</label>
        <input type="text" name="placa">

        <label>Modelo</label>
        <input type="text" name="modelo">

        <label>Cor</label>
        <input type="text" name="cor">

        <label>Proprietario</label>
        <input type="text" name="proprietario">

        <button type="submit">Cadastrar</button>
    </form>

</body>
</html>